.active{
	color: #4888E7;
	font-size: 1.2vw;
}
a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 1.2vw;
}
.logo-menu__box{
	width: 3.5vw;
	height: 3.5vw;
	padding-top: 0.4vw;
}
.logo-menu__box img{
	width: 3.5vw;
	height: 3.5vw;
}